* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@import "../variable/mixins";
@import "../variable/variables";

@import "../utils/navbar";
@import "../utils/main-page";
@import "../utils/ingredient";
@import "../utils/inbox";
@import "../utils/recipe";
@import "../utils/footer";
