.footer {
  margin-top: 160px;
  height: 192px;

  display: flex;
  flex-direction: column;

  .footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    .f-left {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .footer-logo {
        width: 110px;
        height: 30px;
        object-fit: contain;
      }

      .footer-text {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        width: 400px;
      }
    }

    .f-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 60px;

      .footer-menu {
        font-weight: 500;
        font-size: 16px;
        color: #000;
        text-decoration: none;
      }
    }
  }

  .footer-hr {
    width: 100%;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 338px;

    .fb-title {
      font-weight: 400;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      margin-top: 10px;
      margin-bottom: 50px;

      span {
        color: rgba(228, 74, 74, 0.644);
      }
    }

    .footer-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-bottom: 50px;

      .fm-social {
        text-decoration: none;

        img {
          width: 10px;
          height: 20px;
          object-fit: fill;
        }
      }
    }
  }
}
